<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">
    <servlet>
        <servlet-name>RegisterStudent</servlet-name>
        <servlet-class>app.RegisterStudentServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RegisterStudent</servlet-name>
        <url-pattern>/RegisterStudent</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>LoginStudent</servlet-name>
        <servlet-class>app.LoginStudentServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginStudent</servlet-name>
        <url-pattern>/LoginStudent</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>GetRecruiters</servlet-name>
        <servlet-class>app.ShowRecruitersServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GetRecruiters</servlet-name>
        <url-pattern>/GetRecruiters</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>LoginPlacemenOfficer</servlet-name>
        <servlet-class>app.PlacementOfficerLoginServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginPlacemenOfficer</servlet-name>
        <url-pattern>/LoginPlacementOfficer</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>AddRecruiter</servlet-name>
        <servlet-class>app.AddRecruiterServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddRecruiter</servlet-name>
        <url-pattern>/AddRecruiter</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ShowAllStudents</servlet-name>
        <servlet-class>app.ShowAllStudentsServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ShowAllStudents</servlet-name>
        <url-pattern>/ShowAllStudents</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>RemoveRecruiter</servlet-name>
        <servlet-class>app.RemoveRecruiterServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RemoveRecruiter</servlet-name>
        <url-pattern>/RemoveRecruiter</url-pattern>
    </servlet-mapping>
</web-app>